.container {
  width: 1134px;
  padding: 41px 95px 30px 71px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 51px;

  @include mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
